datapackage/target/datapackage-1.0-SNAPSHOT.jar
datapackage/target/maven-archiver/pom.properties
datapackage/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
datapackage/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
datapackage/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
datapackage/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
